table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 98%;
    cursor:'default';
    margin:10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 0 6px 0 #63b1ff;
}

  thead tr:first-child td:first-child {
    border-top-left-radius: 10px;
    padding: 5px;

}

 thead tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

thead tr:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}


.datatable  input{
  width: 60%;
}
  
tbody td{
    border: 1px solid #bbb;
  padding: 5px;
  cursor:'default'
}

tbody tr:nth-child(even){background-color: #f2f2f2;}

tbody tr:hover {background-color: #ddd; cursor:'default'}

thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #63b1ff;
  color: white;
  border-radius: 2px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

