.datatable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    cursor:'default'
}

.datatable  thead tr:first-child td:first-child {
    border-top-left-radius: 10px;
    padding: 5px;

}

.datatable  thead tr:first-child td:last-child {
    border-top-right-radius: 10px;
}


.datatable  input{
  width: 60%;
}
  
.datatable  tbody td{
    border: 1px solid #ddd;
  padding: 5px;
  cursor:'default'
}

.datatable  tbody tr:nth-child(even){background-color: #f2f2f2;}

.datatable  tbody td:hover {background-color: #ddd; cursor:'default'}

.datatable  thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #63b1ff;
  color: white;
  border-radius: 2px;
}

