.FileBrowser {
    border: #63b1ff;
    border-width: 2px;
    border-style: solid;
    border-color: #63b1ff;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px;
    overflow-y:scroll;
    height: 40rem;
    width: 25%;
}

.FileBrowser h3{
    background: #63b1ff;
    margin-block-start: 0px;
    margin-block-end: 0px;
    position: sticky;
    color:white;
    top: 0;
    left:0;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}

.FileInfo {
    display: inline-block;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    width: 60%;
}
.FileInfo h2{
    margin-top:0%;
    margin-bottom: 0%
}