.funDet a{
    color:blue
}

.funDet a:hover{
    color:blue;
    text-decoration: underline;
}
.funDet div {
    margin-top: 5px;
}
.funDet {
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
}

.lists ul {
    list-style-type:none;
}

.lists {
    text-align: left;
    list-style-type:none;
}

.svgCont svg{
    height:100%;
}
