.inactive {
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 10px;

}
.active {
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 10px;
    color:white;
    background: #63b1ff;
    padding:5px;
    border:1px black;
    border-style: solid;
}

.panel {
    border-style: solid;
    border: 1px black;
}