.inactive {
    display: inline-block;
    cursor: pointer;
    padding-bottom: 10px;
    border-collapse: collapse;
    background: rgb(202, 202, 202);
    padding:6px;
}
.active {
    display: inline-block;
    cursor: pointer;
    padding-bottom: 10px;
    color:white;
    background: #63b1ff;
    border-collapse: collapse;
    padding:6px;
}

.tabs {
    width:100%
}

.tabs td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tabs td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}