.selector {
    text-align: left;
    margin-top: 5px;
    top:5px;
    left:5px;
    position: relative;
}

.selector select{
    background:#63b1ff;
    color: white;
    border-radius:10px;
    box-shadow: 0 0 6px 0 #63b1ff;
}


.selector option{
    background:white;
    color:black;
}
.selected {
    background:#63b1ff
}


.selector option:hover{
    border-top:10px;
    background:#63b1ff;
    color: white;
}